@import "tailwindcss";

body {
  @apply bg-gradient-to-r from-black to-gray-800 min-h-screen flex items-start justify-center text-white;
  font-family: 'Arial', sans-serif;
}

.glass-card {
  @apply bg-white/10 backdrop-blur-md rounded-2xl p-6 shadow-lg border border-white/20;
  color: white;
}

.glass-btn {
  @apply bg-[#FF7E29] hover:bg-[#FF7E29]/80 text-white font-bold py-2 px-4 rounded;
}


body,html{
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #88888800;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #55555500;
}
